<p id="notice"><%= notice %></p>
<html>
<body>
<h1>Listing Contacts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
	  
<%= link_to 'New Contact', new_contact_path %>

    <% @contacts.each do |contact| %>
        <tr><td class="name"><%= contact.first_name %>
        <%= contact.last_name %></td></tr>
        <tr><td class="info"><%= contact.email %></td></tr>
        <tr><td class="info"><%= number_to_phone(contact.phone) %></td></tr>
        <tr><td class="info"><%= contact.address %></td></tr>
        <td class="link"><%= link_to 'Show', contact %><td>
        <td class="link"><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td class="link"><%= link_to 'Delete', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</body>
<br>


