<p id="notice"><%= notice %></p>

<h1>Contact</h1>

<p class="name">
  <strong>First name:</strong>
  <%= @contact.first_name %>
</p>

<p class="name">
  <strong>Last name:</strong>
  <%= @contact.last_name %>
</p>

<p class="info">
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p class="info">
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<p class="info">
  <strong>Address:</strong>
  <%= @contact.address %>
</p>

<p class="other_links"><%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'List', contacts_path %></p>
